*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.pay{
    background: rgb(255, 255, 255);
    width: 500px;
    border-radius: 10px;
    height: 800px;
    box-shadow: 1px 1px 5px rgb(207, 205, 205);
    display: flex;justify-content: center;
    align-items: center;

}

.secure {
    display: flex;
    justify-content: center;
}

.secur{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: rgb(86, 104, 103);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sec-text {
    font-weight: normal;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pal input{
    width: 400px;
    border-radius: 10px;
    border: solid rgb(82, 82, 204) 1px;
    height: 50px;
    font-size: 15px;
    padding: 20px;
    
}

#dol{
    margin-top: 20px;
    /* text-align: center; */
}


#dom{
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}
.up{
    display: flex;
    justify-content: center;
}

.up img{
    width: 180px;
    margin: 20px;
   
}

input:focus{
    background-color: yellow;
    border: solid black 1px;
}


.sub{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.sub button{
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(55, 55, 212);
    color: white;
    border: none;
    
}

.dip{
    display: flex;
    justify-content:space-evenly;
    padding: 25px;
    
}
.dip input{
width: 100px;
margin-left: 16px;
}
#cvc{
    text-align: center;
}

#up{
margin-left: 25px;
color: navy;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ml{
    margin-left: 32px;
    color: navy;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.lb{
    margin-right: 20px;
}
#lp:active{
    background: rgb(12, 97, 177);
    border: solid rgb(255, 255, 255);
}




.info{
    text-align: center;
    color: navy;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

@media screen and (max-width:400px) {
    
body{
    background: yellow;
}

.pal input{
    width: 300px;
    border-radius: 10px;
    border: solid rgb(82, 82, 204) 1px;
    height: 40px;
    font-size: 15px;
    padding: 20px;
    
}
.sub button{
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 400;
    background: navy;
    color: white;
    border: solid navy;
    
}


.pay{
    background: rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    box-shadow: 1px 1px 5px rgb(207, 205, 205);
    display: flex;justify-content: center;
    align-items: center;

}
}



@media screen and (max-width:320px) {
    
    /* body{
        background: rgb(255, 0, 221);
    } */
    
    .pal input{
        width: 280px;
        border-radius: 10px;
        border: solid rgb(82, 82, 204) 1px;
        height: 40px;
        font-size: 15px;
        padding: 20px;
        
    }
    .sub button{
        width: 250px;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 400;
        background: navy;
        color: white;
        border: solid navy;
        
    }
    
    .pay{
        background: rgb(255, 255, 255);
        width: 300px;
        height: 400px;
        box-shadow: 1px 1px 5px rgb(207, 205, 205);
        display: flex;justify-content: center;
        align-items: center;
    
    }
    }


    #loader{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: rgb(255, 255, 255);
        z-index: 1;
        width: 100%;
        margin-left: -500px;
    }
    
    #loader img{
    height: 500px;
    animation-name: blink;
    animation: blink  linear ;
    animation-duration: 1s;
    animation-iteration-count: 5;

    animation-delay: 0s;
    }
    
    @keyframes blink{
        50%{
            opacity: 0;
            transform: translateX(10px);
        }
    
        80%{
            opacity: -750;
        }
    
        
    }

    @media screen and (max-width:430px) {
    
       
        #case{
           width:350px ;
           margin-left: 10px;
        }

        .pay{
            width: 390px;
        }

        #dol{
            width: 350px;
            margin-left: 12px;
        }
        #dom{
            width: 350px;
            margin-left: 7px;
        }
        #lp{
            width: 350px;
            /* margin-left: 10px; */
        }

        #loader{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: rgb(255, 255, 255);
            z-index: 1;
            width: 150%;
            margin-right: -130px;
        }
    }



    @media screen and (max-width:400px) {
    
        body{
            background: rgb(255, 255, 255);
        }
        #case{
           width:300px ;
           margin-left: 20px;
        }

        .pay{
            width: 390px;
            height: 800px;
            margin-top: -30px;
        }

        #dol{
            width: 320px;
            margin-left: 10px;
        }
        #dom{
            width: 350px;
            margin-left: 55px;
        }
        #lp{
            width: 250px;
            /* margin-left: 10px; */
            margin-top: -30px;
        }

        #loader{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: rgb(255, 255, 255);
            z-index: 1;
            width: 150%;
            margin-right: -130px;
        }

        #cvc{
            width: 100px;
        }
        #dt{
            width: 100px;
        }

     
    }




    @media screen and (max-width:320px) {
    
        body{
            background: rgb(255, 255, 255);
        }
        #case{
           width:230px ;
           margin-left: 37px;
           /* height: 0px; */
           /* margin-top: -40px; */
        }
         .secure i{
            font-size: 20px;
            margin-top: -150px;
         }
        .pay{
            width: 290px;
            height: 800px;
            margin-top: -30px;
        }

        #dol{
            width: 230px;
            margin-left: 37px;
        }
        #dom{
            width: 350px;
            margin-left: 55px;
        }
        #lp{
            width: 250px;
            /* margin-left: 10px; */
            margin-top: -30px;
        }

        #loader{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: rgb(255, 255, 255);
            z-index: 1;
            width: 150%;
            margin-right: -210px;
        }

        #cvc{
            width: 100px;
        }
        #dt{
            width: 100px;
        }
    .info{
        display: none;
    }
     
    }